<h5 class="text-center" style="color:blue; padding-right: 110px;">Start Exam</h5>
<h5 class="text-center" style="color: blue; ">Add Question to Paper</h5>
<div class="row" style="justify-content: center;">
     <form [formGroup]="formGroup">
        
         <div class="form-group">
             <label>Paper:</label>
             <select class="form-control" formControlName="paper">
             <option *ngFor="let paper of paperList" value="{{paper.pName}}" >{{paper.pName}}</option>
             </select>
         </div>
         <div class="form-group">
            <label>Question:</label>
            <input type="text" class="form-control" formControlName="question">
        </div>
        <div class="form-group">
            <label>Answer:</label>
            <input type="text" class="form-control" formControlName="answer">
        </div>
        <div>
            <button class="btn btn-primary" (click)="addOption()" >Add Option</button>
        </div>      
            <label>Options:</label><br>
        <div formArrayName="options" *ngFor= "let option of getOptions().controls; let i=index">
            <div [formGroupName]="i">
            <label> Option {{i+1}} </label>
            <input type="text" formControlName="oName"><br>
            </div>
        </div><br>
        <div>
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            <button class="btn btn-primary" (click)="updatePaper()">Update</button>

        </div><br>
        <table class="table" >
            <thead>
                <th>Paper</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Options</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let paper of questionPaperList; let i=index">
                   <td>{{paper.paper}}</td>
                   <td>{{paper.question}}</td>
                   <td>{{paper.answer}}</td>
                   <td>
                       <ul *ngFor="let op of paper.options">
                            <li>{{op.oName}}</li>
                       </ul>
                   </td>
                   <td><button class="btn btn-secondary" (click)="editQuestionPaper(paper,i)">Edit</button></td>
                   <td><button class="btn btn-secondary" (click)="deleteQuestionPaper(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
     </form>
</div>
